Repository pagopa/pagopa-node-technical-support-worker, pull requests merged in 2023-09, with the labels that each got.

#7 Using re cosmos nosql
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  openapi/openapi.json
  pom.xml
  src/main/java/it/gov/pagopa/nodetsworker/exceptions/AppErrorCodeMessageEnum.java
  src/main/java/it/gov/pagopa/nodetsworker/models/BasePaymentInfo.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/CosmosBizEventClient.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/CosmosNegBizEventClient.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/CosmosReEventClient.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/ReTableStorageClient.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/model/Count.java
  src/main/java/it/gov/pagopa/nodetsworker/repository/model/EventEntity.java
  src/main/java/it/gov/pagopa/nodetsworker/resources/response/TransactionResponse.java
  src/main/java/it/gov/pagopa/nodetsworker/service/WorkerService.java
  src/main/java/it/gov/pagopa/nodetsworker/util/StatusUtil.java
  src/main/resources/application.properties
  src/main/resources/messages.properties
Labels: size/large

#8 fix name
  .github/workflows/04_release_deploy.yml
Labels: size/small, ignore-for-release

#9 fix cd
  .github/workflows/00_anchore.yml
  .github/workflows/02_check_pr.yml
  .github/workflows/04_release_deploy.yml
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  openapi/openapi.json
  pom.xml
Labels: size/small, new-release

#10 [NOD-463] Fix helm chart
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  openapi/openapi.json
  pom.xml
Labels: size/small, new-release

#12 Fix notify pipeline
  .github/workflows/04_release_deploy.yml
  .gitignore
  .identity/.terraform.lock.hcl
Labels: size/small, ignore-for-release
